<%- partial('_pre') %>
<div class='l_main<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
  <%- partial('_partial/article', {post: page, index: false}) %>
</div>
<%- partial('_partial/side') %>

<script>
  if(typeof jQuery == 'undefined' && typeof create_copy_buttons =='undefined'){}else{
    create_copy_buttons(window, document);
  };
</script>
