<style type="text/css">
    #tag-pie {
        height: 360px;
    }
</style>

<div class="container" data-aos="fade-up">
    <div class="card">
        <div id="tag-pie" class="card-content"></div>
    </div>
</div>

<script type="text/javascript">
	<!--modified from https://blog.csdn.net/BloodyMandoo/article/details/72479268-->
    var myChart = echarts.init(document.getElementById('tag-pie'));
    window.addEventListener("resize", () => { myChart.resize(); });
	
	<%
	
	var tags = site.tags;
	var pieValueArr = [];
	var pieNameArr = [];
    tags.some(function(tag) {
        pieValueArr.push({'name': tag.name, 'value': tag.length});
		pieNameArr.push(tag.name);
    });
    var pieValueData = JSON.stringify(pieValueArr);
	var pieNameData = JSON.stringify(pieNameArr);
	
	%>
	
    var option = {
	    animation:false,
		tooltip : {
			trigger: 'item',
			formatter: "{a} <br/>{b} : {c} ({d}%)"
		},
		calculable : true,
		//legend: {
		//	x : 'center',
		//	y : 'bottom',
		//	data:<%- pieNameData %>
		//},
		series : [
			{
				type: 'pie',
				radius: [20, 22],
				slient:true,
				animation:false,
				label:{
					normal:{show:false}
				},
				labelLine:{
					normal:{show:false}
				},
				tooltip:{
					show:false
				},
				itemStyle:{
					normal:{
						color:'#ccc'
					}
				},
				data: [
					{ value: 100, name: '' }
					]
			},
			{
                type: 'pie',
                radius: [120, 122],
                slient: true,
                animation: false,
                label: {
                    normal: { show: false }
                },
                labelLine: {
                    normal: { show: false }
                },
                tooltip: {
                    show: false
                },
                itemStyle:{
                    normal:{
                        color:'#bbb'
                    }
                },
                data: [
                    { value: 100, name: '' }
                ]
            },
			{
				name:'文章标签极区图',
				type:'pie',
				radius : [30, 110],
				
				roseType : 'area',
				x: '50%',               // for funnel
				max: 100,                // for funnel
				sort : 'ascending',     // for funnel
				data:<%- pieValueData %>,
			}
		]
	};
    myChart.setOption(option);
	setTimeout(function(){myChart.resize();},200);
</script>